Source: libfslvpuwrap
Priority: extra
Maintainer: Josua Mayer <prvacy@not.given>
Build-Depends: debhelper (>= 8.0.0),
 autoconf,
 automake,
 libtool,
 pkg-config,
 libvpu-imx6-dev (= 5.4.28)
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_libfslvpuwrap.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_libfslvpuwrap

Package: libfslvpuwrap-dev
Section: libdevel
Architecture: any
Depends: libfslvpuwrap (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libfslvpuwrap
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
